body {
  font-family: "raleway-v20-deprecated", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
font-size: 32px;
color: #903029;
}


h2 {
font-size: 25px;
color: #5E7F5C
}

h3 {
font-size: 20px;
color: #903029
}

h4 {
font-size: 16px;
color: #903029
}

p {
    font-size: 16px;
  color: #000
}

.small-text {
font-size: 12px;
color: #903029
}

a:hover {
      text-decoration: underline;
      color: #7796CB;
    }
    a:visited { color: #5E7F5C; }

.nav-button { 
    font-size: 20px;
    border-radius: 4px;
    background-color: #903029;
    color: #fff !important;
    cursor: pointer; 
    border: none; 
    padding: 8px 16px; 
    text-decoration: none !important;
    display: inline-block;
}

.nav-button:hover {
    background-color: #5E7F5C;
    color: #fff !important;
    text-decoration: none !important;
}

.nav-button:focus {
  outline: 2px solid #3D3A4B;
}